@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "Cormorand Garamond";
  src: url('/assets/font/CormorantGaramond-Regular.ttf');
}

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --overlay-color: rgba(24, 39, 51 , 0.85);
}

$w: Min(10em, 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--white);
    font-family: "Cormorand Garamond","Poppins", sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}

.dark-mode {
  background-color: #282828!important;
  color: var(--white);
}

.dark-mode nav.desktop ul li a {
  color: var(--white);
}

nav.desktop ul li a, nav.hamburger ul li a {
  font-family: "Poppins", sans-serif;
}


@media (width < 576px) {
  nav.desktop {
    opacity: 0;
  }
  nav.hamburger {
    z-index: 1;
    animation: fadeIn 1s;
  }
  
  nav.closed {
    animation: fadeOut 1s;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }
  .img-hamburger {
    top: 45%;
    right: 5%;
  }
  .img-close{
    z-index: 1;
  }
  div.logo {
    width: 30%;
    text-align: center;
  }

  .hamburger {
    position: fixed!important;
  }
  
  .track-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .img-thumbnail {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  .trek-article figure {
    flex-direction: column;
  }

  .article-text {
    width: 100%;
    /* padding: 0 0 0 2%; */
  }

  .trek {
    width: 100%;
  }
  .ordinary-article {
    flex-direction: column;
  }
  .ordinary-article article {
    width: 100%;
    padding: 0;
  }
  .stories {
    width: 100%;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
    width: 90%;
  }
  .gallery-placement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }
  .font-marginL, .font-marginC {
    text-align: center;
  }
  .contact-wrapper {
    width: 100%;
  }
  .contact-form {
    flex-direction: column;
  }

  .mobile-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

 @media (min-width: 577px) and (max-width: 768px)  {
  nav.desktop {
    visibility: hidden;
  }
  nav.hamburger {
    z-index: 1;
    animation: fadeIn 1s;

  }
  .hamburger {
    position: fixed!important;
  }

  div.logo {
    width: 20%;
    text-align: center;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }
  .img-hamburger {
    top: 45%;
    right: 5%;
  }
  .trek {
    width: 100%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 0 0 2%;
  }
  .ordinary-article article {
    width: 100%;
    padding:0;
  }
  .stories {
    width: 100%;
  }
  .stories-content {
    margin: 0;
  }
  .gallery-placement {
    display: flex;
    flex-direction: column;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-wrapper {
    width: 100%;
  }
  
  .img-thumbnail {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  .track-wrapper {
    flex-direction: column;
  }
  .ordinary-article {
    flex-direction: column;
  }
  
  .font-marginL, .font-marginC {
    margin-left: 1.5em;
  }

  .mobile-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact-wrapper {
    width: 100%;
  }
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form img{
    width: 100%;
  }

}

 @media (min-width: 769px) and (max-width: 991px)  {
  nav.mobile {
   visibility: hidden;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    background-color: var(--white);
    z-index: 1;
  }
  div.logo {
    width: 20%;
    text-align: center;
  }

  .menu-desktop {
    align-self: self-end;
    width: 60%;
  }
  nav.desktop ul li {
    padding: 5%;
  }
  .track-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .ordinary-article {
    flex-direction: column;
  }
  .img-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .trek-article figure {
    flex-direction: column;
  }
  .font-marginL, .font-marginC {
    margin-left: 1.5em;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .contact-wrapper {
    width: 100%;
  }
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form img{
    width: 100%;
    border-radius: 5px;
  }
  .isNightmode {
    display: flex;
  }
  .isNightmode div {
    padding: 0 5%;
  }
  .gallery-placement figure img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}

@media (min-width: 992px) and (max-width: 1200px)  {
  nav.mobile {
    visibility: hidden;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    width: 100%;
    background-color: var(--white);
    z-index: 1;
  }

  .menu-desktop {
    align-self: self-end;
    width: 50%;
  }

  div.logo {
    width: 20%;
    text-align: center;
  }

  nav.desktop ul li {
    padding: 5%;
  }

  nav.desktop ul {
    justify-content: space-evenly;
  }
  
  .img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  .trek {
    width: 100%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 5% 0 2%;
  }
  .ordinary-article article {
    width: 40%;
    padding: 2% 5% 0 0;
  }

  .ordinary-article article figure {
    margin: 0;
  }
  .font-marginL{
    margin-left: 0;
  }
  .font-marginC {
    margin-left: 1.5em;
  }

  article.trek-article figure {
    display: flex;
    margin: 0;
  }
  .stories {
    width: 100%;
  }
  .stories article {
    width: 100%;
  }
  .trek-ordinary, .trek-highlight {
    padding-left: 5%;
    /* padding-right: 12%; */
  }
  .gallery-content {
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-placement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  .item-grid {
    margin: 2%;
  }
  .track-wrapper {
    flex-direction: column;
  }
  .item-grid:hover img {
    transform: scale(1.25);
  }
  .contact-form img{
    width: 100%;
    border-radius: 5px;
  }
  .contact-form {
    justify-content: space-evenly;
  }
  .isNightmode {
    display: flex;
  }
  .isNightmode div {
    padding: 0 5%;
  }
}

@media (min-width: 1201px){
   nav.mobile {
    visibility: hidden;
  }

  .header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    box-shadow: 1px 1px 5px 0px var(--gray);
    width: 100%;
    background-color: var(--white);
    z-index: 1;
  }

  .menu-desktop {
    align-self: self-end;
    width: 50%;
  }

  nav.desktop ul li {
    padding: 5%;
  }

  nav.desktop ul {
    justify-content: space-evenly;
  }
  .img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .trek {
    width: 70%;
  }
  .article-text {
    max-width: 40%;
    padding: 0 0 0 2%;
  }
  .ordinary-article article {
    width: 40%;
    padding: 2% 5% 0 0;
  }
  .stories {
    width: 20%;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-content .gallery-intro {
    text-align: center;
  }
  .gallery-placement {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 300px 300px;
  }
  .gallery-placement figure img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .gallery-content {
    display: flex;
    justify-content: end;
  }
  .font-marginL, .font-marginC {
    margin-left: 1.5em;
  }
  .item-grid {
    margin: 2%;
  }
  .item-grid:hover img {
    transition: 0.2s linear;
    transform: scale(1.25);
  }

  section.scrolled {
    animation: slide-in-left 2s ease-in-out both;
  }
  section.scrolled-right {
    animation: slide-in-right 2s ease-in-out both;
  }
  .contact-form {
    justify-content: center;
  }
  .contact-form div {
    margin: 0 2%;
  }
  .contact-form img{
    width: 100%;
    border-radius: 5px;
  }
  nav.hamburger {
    display: none!important;
  }
  .isNightmode {
    display: flex;
  }
  .isNightmode div {
    padding: 0 5%;
  }
}

#img-dark {
  display: none;
}

article.story-wrapper, .track-wrapper {
  display: flex;
  justify-content: center;
}
.section-title {
  text-align: center;
  margin: 2%;
}

.img-thumbnail-half {
  height: 300px;
  width: 50%;
  border-radius: 5px;
}

.story-content{
  padding: 0 5% 0 5%;
}

.subtitle {
  margin: 5px 0 5px 0;
}

.story-description {
  text-align: justify;
}

article.trek-article figure {
  display: flex;
}


.ordinary-article {
  display: flex;
}

section {
  padding: 3% 0 3% 0;
}

#grid-1 {
  grid-column: 1;
  grid-row: 1 / span 2;
} 

#grid-4 {
  grid-column: 4;
  grid-row: 1 / span 2;
} 

#grid-5 {
  grid-column-start: 2;
  grid-column-end: 4;
} 

section.contact {
  background-color: var(--gray);
}

 .form-hiker h2, .form-hiker p, .form-hiker legend, .form-hiker label, section.contact h2 {
  color: var(--white);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

